# Angular specific files
.angular
.angular/cache
.angular/config.json

# Compiled output
dist/
build/

# Temporary files
tmp/
temp/

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Dependency directories
node_modules/

# Logs and debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*.local

# Coverage reports
coverage/

# Angular CLI specific
.sass-cache/
.angular-cli.json
.editorconfig
