.filter-tasks {
    margin-bottom: 20px;
  
    label {
      font-size: 1rem;
      margin-right: 10px;
      color: #333;
    }
  
    select {
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }